## extensions of files not to be tracked

*.o
*.a
*.d
*.mk
*.so.0
*.so.O
*~
*.mex4
*.mexlx
*.mexsol
*.mexa32
*.mexa64
*.mexw32
*.mexw64
*.mexs32
*.mexs64
*.mexglx
*.mexmaci64
*.lib
*.mexglx
*.dll
*.llb
*.exe
*.asv
*.project
*.pydevproject
*.cproject
*.pyc
*.out
*.swp
tracy
tracyd
lnlstracy*
.depend
COMMIT_EDITMSG
*DS_Store

## directories not to be tracked

gitrepo/
lnls-data/
likewise/
old_files/
*cod_matlab/
cuda/
epd_free*/
epd_free-7.3-2-rh5-x86_64/
eclipse/
.metadata/
*Debug/
*build/
*.settings/
.Configs/
.Results/
.TempFolders/
+data/


